@font-face {
  font-family: 'MyH2Font';
  src: url('../res/gimmedanger.woff') format('woff'), /* Pretty Modern Browsers */
       url('../res/gimmedanger.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'MyH1Font';
  src: url('../res/topsecret.woff') format('woff'), /* Pretty Modern Browsers */
       url('../res/topsecret.ttf')  format('truetype') /* Safari, Android, iOS */
}

* {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'VT323', sans-serif;
    font-size: 2rem;
    color: cornsilk;
}
body{
    background-image: url("../images/bg.png");
    color: black;
}\
h2 {
    font-family: "MyH2Font";
    font-style: bold;
    font-size: 24px;
    color: white;
    margin: 20px 0;
    text-shadow: 1px 1px 2px gray, 1px 1px 3px #feec85, -2px 2px 4px #ffae34, 2px -5px 5px #ec760c;
    -webkit-text-stroke: 0.03rem black;
}

h3 {
    margin: 7px 0 0 0;
    font-size: 22px;
    font-weight: 400;
}

h4 {
    font-style: bold;
    font-size: 14px;
}

a, a:hover, a:visited{
    color: silver;
}

td, th { padding: 5px; }

.container {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px 15px 0 15px;
}
.col-md-12{
    margin-bottom: 5px;
}
.title-name{
    font-family: "Wallpoet", cursive;
    font-size: 60px;
    font-family: "Wallpoet", cursive;
    margin: 0 10px;
    background-size: cover;
    color: silver;
    text-shadow: 4px 5px 20px #ef5400, -4px -5px 15px #cd4606;
    -webkit-text-stroke: 0.18rem black;
}

.work-dates{
    font-style: italic;
}

.title-role,
.title-contact-info,
.title-contact-info-for-print{
    font-style: italic;
    font-size: 20px;
}

.title-contact-info,
.title-contact-info-for-print{
    text-align: right;
}

.title-contact-info-for-print{
    font-size: 16px;
    display: none;
}
.work-employer{
    font-family: 'Special Elite', cursive;
    text-shadow: 3px 2px 4px #cd4606;
    color: silver;
}
.work-title{
    font-family: 'Special Elite', cursive;
    text-shadow: 3px 2px 4px #cd4606;
    color: silver;
    
}
.work-brief{}
.work-description{}
.work-roles{
    margin-left: 4em;
}
.project-name{}
.project-description{}

.skills{
    width: 90%;
    margin-left: 2em;
}

.education-school, .education-school a, .education-school a:visited{
    font-family: 'Special Elite', cursive;
    text-shadow: 3px 2px 4px #cd4606;
    color: silver;
}
.education-school-for-print{
    display: none;
}
.course-title{}
.course-title-for-print{
    display: none;
}

.courses-box{
    margin-left: 2em;
    margin-right: 2em;
}

@media only print {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-style: bold;
        font-size: 20px;
        margin: 2px 0 0 0;
    }

    h3 {
        font-size: 16px;
        margin: 2px 0 0 0;
    }

    h4 {
        font-style: bold;
        font-size: 12px;
    }
    .container {
        margin-top: 5px;
        padding:0 15px 0 15px;
    }
    .title-role,
    .title-contact-info-for-print{
        font-size: 14px;
    }
    .title-contact-info{
        display: none;
    }
    .title-contact-info-for-print{
        display: inline;
    }
    .education-school{
        display: none;
    }
    .education-school-for-print{
        display: block;
    }
    .course-title{
        display: none;
    }
    .course-title-for-print{
        display: inline;
    }
}
