* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    font-size: 14px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-style: bold;
    font-size: 20px;
    margin: 5px 0 0 0;
    border-bottom-color: gray;   
    border-bottom-width: 1px;
    border-bottom-style: solid;  
}

h3 {
    margin: 7px 0 0 0;
    font-size: 18px;
}

h4 {
    font-style: bold;
    font-size: 14px;
}

a {
    color: black;
}

td,
th {
    padding: 5px;
}

.container {
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 0 15px grey;
    padding: 10px 15px 0 15px;
}

.col-md-12 {
    margin-bottom: 5px;
}

.title-name {
    margin-top: 25px;
}

.work-employer {
    margin-left: -18pt;
    font-size: 19px;
}

.work-dates {
    font-style: italic;
}

.title-role {
    color: #f2511b
}

.title-role,
.title-contact-info,
.title-contact-info-for-print {
    font-style: italic;
    font-size: 20px;
}

.title-contact-info{
    font-size: 50px;
    margin-top: 20px;
    color: royalblue;
}

.title-contact-info,
.title-contact-info-for-print {
    text-align: right;
}

.title-contact-info-for-print {
    font-size: 16px;
    display: none;
}

.center-content {
  padding: 2.5% 5%;
}
.work-title {}

.work-description {}
.work-roles {
    margin-left: 4em;
}

.project-name {
    font-size: 16px;
}
.project-date {
    text-align: right;
    font-size: 14px;
    font-style: italic;
}

.project-description {
    font-size: 12px;
    margin-top: 1px;
    margin-left: 2em;
}

.skills {
    width: 95%;
    margin-left: 1em;
    text-align: center;
}

.education-school {}

.education-school-for-print {
    display: none;
}

.course-title {}
.course-title-for-print {
    display: none;
}

.courses-box {
    margin-left: 2em;
    margin-right: 2em;
}

@media only print {
    body {
        font-size: 12px;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
        margin: 0 0 0 0;
    }
    h3 {
        font-size: 16px;
        margin: 1px 0 0 0;
    }
    h4 {
        font-style: bold;
        font-size: 14px;
    }
    .container {
        margin-top: 1px;
        padding: 0 4px 0 8px;
    }
    .col-md-12,
    .col-sm-12,
    .col-xs-12 {
        margin-bottom: 1px;
    }
    .title-name {
        margin-top: 2px;
        font-size: 26px;
/*        padding: 0 1em 0 1em;*/
    }
    .title-role {
        color: #f2511b
    }
    .title-contact-info-for-print {
        font-size: 12px;
    }
    .title-contact-info {
        display: none;
    }
    .title-contact-info-for-print {
        display: block;
    }
    
    .skills {
        width: 98%;
        margin-left: 0;
        font-size: 14px;
    }
    .project-name {
        font-size: 16px;
    }

    .project-description {
        font-size: 12px;
        margin-top: 1px;
        margin-left: 2em;
    }
    .project-date {
        text-align: right;
        font-size: 12px;
        font-style: italic;
    }
    .course-title {
        display: none;
    }
    .course-title-for-print {
        display: block;
    }
}