* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/*


*/

h1 {
    font-size: 40px;
}

h2 {
    font-style: bold;
    font-size: 20px;
    margin: 5px 0 0 0;
}

h3 {
    margin: 7px 0 0 0;
    font-size: 18px;
}

h4 {
    font-style: bold;
    font-size: 14px;
}

a{
    color: black;
}


td, th { padding: 5px; }

.container {
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 0 15px grey;
    padding: 10px 15px 0 15px;
}
.col-md-12{
    margin-bottom: 5px;
}
.title-name{
    margin-top: 25px;
}

.work-dates{
    font-style: italic;
}

.title-role,
.title-contact-info,
.title-contact-info-for-print{
    font-style: italic;
    font-size: 20px;
}

.title-contact-info,
.title-contact-info-for-print{
    text-align: right;
}

.title-contact-info-for-print{
    font-size: 16px;
    display: none;
}
.work-employer{}
.work-title{}
.work-brief{}
.work-description{}
.work-roles{
    margin-left: 4em;
}
.project-name{}
.project-description{}

.skills{
    width: 90%;
    margin-left: 2em;
}

.education-school{
}
.education-school-for-print{
    display: none;
}
.course-title{}
.course-title-for-print{
    display: none;
}

.courses-box{
    margin-left: 2em;
    margin-right: 2em;
}

@media only print {
    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 14px;
        margin: 0 0 0 0;
    }

    h3 {
        font-size: 12px;
        margin: 2px 0 0 0;
    }

    h4 {
        font-style: bold;
        font-size: 10px;
    }
    .container {
        margin-top: 2px;
        padding:0 8px 0 8px;
    }
    .title-role,
    .title-contact-info-for-print{
        font-size: 10px;
    }
    .title-contact-info{
        display: none;
    }
    .title-contact-info-for-print{
        display: inline;
    }
    .education-school{
        display: none;
    }
    .education-school-for-print{
        display: block;
    }
    .course-title{
        display: none;
    }
    .course-title-for-print{
        display: inline;
    }
}
